*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background-image: url("../../images/background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Roboto';
}
.main{
    height: 100%;
    width: 100%;
}
.title{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 40px;
    padding: 10px;
    background-color: #0f74a8;
    color: #fff
}
.form-login{
    background-image: url("../../images/login.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    margin: 50px auto;
}
.form{
    padding: 10px 40px;
    margin-top: 170px;
}
.form-control{
    margin-bottom: 10px
}
.form-label{
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.form-field{
    display: block;
    height: 30px;
    width: 100%;
}
.btn-login{
    padding: 10px;
    background-color: #0f74a8;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    border-color: #1a1a1a;
    border-style: none;
    cursor: pointer;
}

@media (max-width: 400px) {
    .form-login{
        background-size: 100% 600px;
        width: 100%;
        height: 600px;
        margin: 50px auto;
    }
}